bg = #222
solid = #444
mid = #999
text = #ddd
ChatFont = "Comic Sans MS", sans-serif
chatBoxHeight = 70px

mobileScreen = 769px
m = "only screen and (max-width: " + mobileScreen + ")"
d = "only screen and (min-width: " + (mobileScreen + 1) + ")"

* {
  margin 0
  padding 0
  font-family "Courier New", monospace
}

html
  background bg

body
  width 100vw
  height 100vh
  color text
  scrollbar-width 12px
  scrollbar-color black transparent

#app
  width 100%
  height 100%
  
main
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content end
  align-items center
  
#MessageList
  width 100%
  overflow-y scroll
  display flex
  flex-direction column-reverse
  margin 6px 0
  
  *
     font-family ChatFont
  
  li
    display flex
    flex-direction column
    justify-content center
    min-height chatBoxHeight
    border-radius (chatBoxHeight / 10)
    background solid
    margin 6px 12px
    padding 12px
    position relative
    
    p
      position absolute
      top 2px
      left 6px
      width 100%
      color mid
    h2
      width 100%
      text-align center

#ChatBox
  width 100%
  height 10vh
  max-height chatBoxHeight
  display flex
  flex-direction row
  
  *
    flex 1
    margin 6px
    border-radius (chatBoxHeight / 25)
    font-size 24px
    color bg

  input
    padding 12px
    border none
    font-family ChatFont
    curson "grabbing"
  
  button
    max-width (chatBoxHeight * 2)
    cursor "all-scroll"
    @media m
      display none
  button:disabled,button[disabled]
    curson "grabbing"
  